<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Editar Funcionário</title>
</head>
<body>
    <div class="div-form-edit-funcionario">
        <form th:action="@{/funcionario/save}" th:object="${funcionario}" method="POST">

            <div class="div-h1-edit-funcionario">
                <h1>Alterar Funcionário</h1>
            </div>
            
            <div class="div-input-edit-funcionario">
                <input type="text" class="input-edit-funcionario" th:field="${funcionario.id_funcionario}">
            </div>
            
            <div class="div-input-edit-funcionario">
                <input autocomplete="off" class="input-edit-funcionario" type="text" placeholder="Nome" th:field="${funcionario.nome}" required>
            </div>

            <div class="div-input-edit-funcionario">
                <input autocomplete="off" class="input-edit-funcionario" type="text" placeholder="Sobrenome" th:field="${funcionario.sobrenome}" required>
            </div>

            <div class="div-input-edit-funcionario">
                <input autocomplete="off" class="input-edit-funcionario" placeholder="Cpf" th:field="${funcionario.cpf}" required>
            </div><br>

            <!-- <div class="div-select-edit-funcionario">
                <select th:field="${funcionario.cargo}" class="select-cargo">
                    <option th:each="cargo : ${cargos}" th:value="${cargo.id_cargo}" th:text="${cargo.nome}"></option>
                </select>
            </div><br>            -->
            
            <div class="div-button-edit-funcionario">
                <button type="submit" class="button-edit-funcionario">Salvar</button>
            </div>

        </form>
    </div>
</body>
</html>