<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>View Funcionario</title>
</head>
<body>
    <table class="table-list-funcionario">
        <thead>
        <tr class="tr-list-funcionario">
            <th class="th-list-funcionario">Id</th>
            <th class="th-list-funcionario">Nome</th>
            <th class="th-list-funcionario">Sobrenome</th>
            <th class="th-list-funcionario">Cpf</th>
            <th class="th-list-funcionario">Cargo</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-list-funcionario" th:each="funcionario : ${funcionarios}">
            <td class="td-list-funcionario" th:text="${funcionario.id_funcionario}"></td>
            <td class="td-list-funcionario" th:text="${funcionario.nome}"></td>
            <td class="td-list-funcionario" th:text="${funcionario.sobrenome}"></td>
            <td class="td-list-funcionario" th:text="${funcionario.cpf}"></td>
            <td class="td-list-funcionario" th:text="${funcionario.cargo.nome}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>