/* Login */

.div-form-login {
    height: 330px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgb(218, 218, 218);
}

.div-h1-login {
    padding-top: 1px;
    text-align: center;
    font-size: 14pt;
    font-family: Arial;
    color: #333333;
}

.div-input-login {
    text-align: center;
}

.input-login {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 6px;
    height: 42px;
    width: 300px;
    outline: 0;
    font-family: Arial;
    margin: 15px;
    text-align: center;
    font-size: 12pt;
}

.div-button-login {
    text-align: center;
    margin-top: 15px;
}

.button-login {
    background-color: #0070F3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    height: 42px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: Arial;
    color: white;
    font-size: 12pt;
}

/* funcionario add */

.div-form-add-funcionario {
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgb(218, 218, 218);
}

.div-h1-add-funcionario {
    padding-top: 1px;
    text-align: center;
    font-size: 14pt;
    font-family: Arial;
    color: #333333;
}

.div-input-add-funcionario {
    text-align: center;
}

.div-select-add-funcionario {
    text-align: center;
}

.input-add-funcionario {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 6px;
    height: 42px;
    width: 300px;
    outline: 0;
    font-family: Arial;
    margin: 15px;
    text-align: center;
    font-size: 12pt;
}

.div-button-add-funcionario {
    text-align: center;
    margin-top: 15px;
}

.button-add-funcionario {
    background-color: #0070F3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    height: 42px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: Arial;
    color: white;
    font-size: 12pt;
}

/* funcionario list */

.table-list-funcionario {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

.td-list-funcionario, .th-list-funcionario {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

.tr-list-funcionario:nth-child(even) {
background-color: #dddddd;
}

/* funcionario edit */

.div-form-edit-funcionario {

    height: 500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgb(218, 218, 218);

}

.div-h1-edit-funcionario {
    padding-top: 1px;
    text-align: center;
    font-size: 14pt;
    font-family: Arial;
    color: #333333;
}

.div-input-edit-funcionario {
    text-align: center;
}

.div-select-edit-funcionario {
    text-align: center;
}

.input-edit-funcionario {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 6px;
    height: 42px;
    width: 300px;
    outline: 0;
    font-family: Arial;
    margin: 15px;
    text-align: center;
    font-size: 12pt;
}

.div-button-edit-funcionario {
    text-align: center;
    margin-top: 15px;
}

.button-edit-funcionario {
    background-color: #0070F3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    height: 42px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: Arial;
    color: white;
    font-size: 12pt;
}
.button-edit-funcionario:hover {background-color: #6090c7}

.button-edit-funcionario:active {
  background-color: #6090c7;
  box-shadow: 0 1px 1px rgb(207, 207, 207);
  transform: translateY(4px);
}

/*  */

.div-button-delete-funcionario {
    text-align: center;
    margin-top: 15px;
}

.button-delete-funcionario {
    background-color: #c76060;
    box-shadow: 0 6px 5px rgb(207, 207, 207);
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: monospace;
}
.button-delete-funcionario:hover {background-color: #c76060}

.button-delete-funcionario:active {
  background-color: #c76060;
  box-shadow: 0 1px 1px rgb(207, 207, 207);
  transform: translateY(4px);
}