/* Login */
.div-form-login {
    height: 330px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 6px;
    box-shadow: 5px 5px 20px rgb(196, 196, 196);
}

.div-h1-login {
    padding-top: 1px;
    text-align: center;
    font-size: 15pt;
    font-family: monospace;
}

.div-input-login {
    text-align: center;
}

.input-login {
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 35px;
    width: 300px;
    outline: 0;
    font-family: monospace;
    margin: 15px;
    text-align: center;
}

.div-button-login {
    text-align: center;
    margin-top: 15px;
}

.button-login {
    background-color: #60c79c;
    box-shadow: 0 6px 5px rgb(207, 207, 207);
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: monospace;
}
.button-login:hover {background-color: #60c79c}

.button-login:active {
  background-color: #60c79c;
  box-shadow: 0 1px 1px rgb(207, 207, 207);
  transform: translateY(4px);
}

/* funcionario add */

.div-h1-add-funcionario {
    padding-top: 1px;
    text-align: center;
    font-size: 15pt;
    font-family: monospace;
}

.div-input-add-funcionario {
    text-align: center;
}

.div-select-add-funcionario {
    text-align: center;
}

.input-add-funcionario {
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 35px;
    width: 300px;
    outline: 0;
    font-family: monospace;
    margin: 15px;
    text-align: center;
}

.div-button-add-funcionario {
    text-align: center;
    margin-top: 15px;
}

.button-add-funcionario {
    background-color: #60c79c;
    box-shadow: 0 6px 5px rgb(207, 207, 207);
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: monospace;
}
.button-add-funcionario:hover {background-color: #60c79c}

.button-add-funcionario:active {
  background-color: #60c79c;
  box-shadow: 0 1px 1px rgb(207, 207, 207);
  transform: translateY(4px);
}

/* funcionario list */

.table-list-funcionario {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

.td-list-funcionario, .th-list-funcionario {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

.tr-list-funcionario:nth-child(even) {
background-color: #dddddd;
}

/* funcionario update */

.div-h1-edit-funcionario {
    padding-top: 1px;
    text-align: center;
    font-size: 15pt;
    font-family: monospace;
}

.div-input-edit-funcionario {
    text-align: center;
}

.div-select-edit-funcionario {
    text-align: center;
}

.input-edit-funcionario {
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    height: 35px;
    width: 300px;
    outline: 0;
    font-family: monospace;
    margin: 15px;
    text-align: center;
}

.div-button-edit-funcionario {
    text-align: center;
    margin-top: 15px;
}

.button-edit-funcionario {
    background-color: #60c79c;
    box-shadow: 0 6px 5px rgb(207, 207, 207);
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    font-family: monospace;
}
.button-edit-funcionario:hover {background-color: #60c79c}

.button-edit-funcionario:active {
  background-color: #60c79c;
  box-shadow: 0 1px 1px rgb(207, 207, 207);
  transform: translateY(4px);
}
